:root {
	--color-primary-050: rgb(190, 147, 184);
	--color-primary-100: rgb(181, 125, 173);
	--color-primary-200: rgb(172, 104, 163);
	--color-primary-300: rgb(160, 84, 150);
	--color-primary-400: rgb(142, 72, 133);
	--color-primary-500: rgb(124, 60, 115);
	--color-primary-600: rgb(105, 48, 97);
	--color-primary-700: rgb(85, 37, 79);
	--color-primary-800: rgb(65, 27, 60);
	--color-primary-900: rgb(44, 17, 40);

	--color-bg-050: rgb(56, 56, 56);
	--color-bg-100: rgb(53, 53, 53);
	--color-bg-200: rgb(51, 51, 51);
	--color-bg-300: rgb(47, 47, 47);
	--color-bg-400: rgb(44, 44, 44);
	--color-bg-500: rgb(39, 39, 39);
	--color-bg-600: rgb(37, 37, 37);
	--color-bg-700: rgb(35, 35, 35);
	--color-bg-800: rgb(30, 30, 30);
	--color-bg-900: rgb(18, 18, 18);

	--color-text-100: rgb(226, 226, 226);
	--color-text-400: rgb(165, 165, 165);
	--color-text-700: rgb(116, 116, 116);
	--color-text-900: rgb(57, 57, 57);
}

/* ============ */
/* Style resets */
/* ============ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

input,
textarea,
.btn {
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: transparent;
	outline: none;
	border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--color-text-100);
	-webkit-box-shadow: 0 0 0px 40rem var(--color-bg-500) inset;
}

.btn {
	cursor: pointer;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-size: inherit;
}

li {
	list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

svg {
	display: block;
}

/* End of resets */
/* ============= */

/* ============= */
/* Scrollbar CSS */
/* Firefox */
* {
	scrollbar-width: 15px;
	scrollbar-color: var(--color-text-400) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: var(--color-bg-800);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-text-400);
	border-radius: 10px;
	border: 3px none var(--color-text-400);
}

/* End of scrollbar */
/* ================ */

body {
	font-family: Roboto, serif;
	background-color: var(--color-bg-800);
	color: var(--color-text-100);
	width: 480px;
	font-size: 1.6rem;
	line-height: 140%;
}

/* Typography */
h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 100%;
}

a {
	color: var(--color-primary-100);
}

/* ======= */
/* Buttons */
.btn {
	line-height: 100%;
	padding: 1.6rem 2.4rem;
	font-size: 1.6rem;
	border-radius: 1.2rem;
}

.btn-sm {
	padding: 0.8rem 1.2rem;
	font-size: 1.4rem;
	border-radius: 0.8rem;
}

.btn:disabled {
	cursor: not-allowed;
}

.btn-primary {
	background-color: var(--color-primary-500);
}

.btn-primary:hover {
	background-color: var(--color-primary-400);
}

.btn-primary:focus-visible {
	outline: 1px solid var(--color-text-100);
	background-color: var(--color-primary-300);
}

.btn-primary:disabled {
	color: var(--color-text-400);
	background-color: var(--color-primary-200);
}

.btn-secondary {
	background-color: var(--color-bg-500);
}

.btn-secondary:hover {
	background-color: var(--color-bg-400);
}

.btn-secondary:focus-visible {
	outline: 1px solid var(--color-text-100);
	background-color: var(--color-bg-300);
}

.btn-secondary:disabled {
	color: var(--color-text-400);
	background-color: var(--color-bg-200);
}

/* .btn-tertiary {
	background-color: var(--color-primary-500);
} */

.btn-tertiary:hover {
	background-color: var(--color-bg-300);
}

.btn-tertiary:focus-visible {
	outline: 1px solid var(--color-text-700);
	background-color: var(--color-bg-300);
}

.btn-tertiary:disabled {
	color: var(--color-text-700);
	background-color: var(--color-bg-200);
}
/* End of Buttons */
/* ============== */

/* Container */
.container {
	padding: 2.4rem 2rem 6rem;
}

/* ==== */
/* Form */
.form__flex {
	display: flex;
	flex-direction: column;
}

.form__input {
	color-scheme: dark;
	padding: 1.2rem 1.6rem;
	border-radius: 1.2rem;
	border: 1px solid var(--color-text-900);
}

.form__label {
	margin-top: 2.4rem;
	color: var(--color-text-400);
}
.form__label:nth-child(3) {
	margin-top: 1.2rem;
}

.form__description {
	margin-top: 0.8rem;
	display: flex;
	flex-direction: column;
	font-size: 1.4rem;
	color: var(--color-text-700);
}

.form__btn {
	margin-top: 3.2rem;
}

/* End of Form */
/* =========== */

/* ====== */
/* Footer */
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.8rem 1.2rem;
	background-color: var(--color-bg-900);
}

.footer__flex {
	display: flex;
	justify-content: space-between;
}

.footer__text {
	font-size: 1.2rem;
	color: var(--color-text-400);
}

.footer__btn {
	padding: 0.8rem 1.2rem;
	margin: -0.8rem -1.2rem -0.8rem 0;
	color: var(--color-text-400);
	font-size: 1.2rem;
}

/* ======== */
/* Timeline */
#timeline-container {
	margin-top: 2.4rem;
}

.tl__day {
	margin-top: 1.6rem;
	line-height: 100%;
	position: relative;
}

.tl__day:first-child {
	margin-top: 2rem;
}

.tl__day::after {
	content: '';
	position: absolute;
	left: 0.7rem;
	top: calc(1.5rem + 0.7rem);
	bottom: calc(0.4rem - 1.5rem);
	width: 1px;
	background-color: var(--color-text-900);
}

.tl__header {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}

.tl__circle {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
	background-color: transparent;
	outline: 1px solid var(--color-text-400);
	transition: outline 0.15s ease-in-out;
}

.tl__header:hover .tl__circle {
	outline: 1px solid var(--color-text-100);
}

.tl__date {
	line-height: 100%;
	transform: translateY(1px);
}

/* Single Item data */
.tl__item {
	margin-top: 1.6rem;
	padding-left: 1.8rem;
	padding-bottom: 1.2rem;
	display: flex;
	justify-content: space-between;
	gap: 1.6rem;
	position: relative;
}

.tl__item:not(:last-child)::after {
	content: '';
	position: absolute;
	left: 1.8rem;
	right: 0;
	bottom: 0;
	height: 1px;
	background-color: var(--color-text-900);
	opacity: 35%;
}

.tl__left-col {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.tl__item-header {
	display: flex;
	flex-wrap: wrap;
	gap: 0.8rem;
}

.tl__title {
	font-weight: 500;
}

.tl__meta {
	display: flex;
	gap: 0.2rem;
	align-items: center;
}

.tl__meta-icon {
	display: block;
	width: 16px;
	aspect-ratio: 1 / 1;
}

.tl__meta:nth-of-type(2) {
	gap: 0;
}

.tl__meta:nth-of-type(2) .tl__meta-icon {
	transform: translateY(-1px);
}

.tl__value {
	font-size: 1.4rem;
	color: var(--color-text-400);
}

.tl__item-desc {
	font-size: 1.4rem;
	font-weight: 300;
	color: var(--color-text-400);

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	overflow: hidden;
}

.tl__right-col {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0.4rem;
}

.tl__calendar {
	display: flex;
	gap: 0.4rem;
}

.tl__calendar-day {
	color: var(--color-text-700);
}

.tl__calendar-day.active {
	color: var(--color-primary-050);
}

.tl__calendar-meta {
	display: flex;
	justify-content: space-between;
}

.tl__frequency {
	font-weight: 300;
}

.tl__right-col:not(:has(.tl__calendar)) .tl__calendar-meta {
	gap: 1.2rem;
}

.tl__each-amount {
	display: flex;
	gap: 0.2rem;
}

.tl__frequency-img {
	display: block;
	width: 16px;
	aspect-ratio: 1 / 1;
	transform: translateY(-1px);
}

.tl__frequency-interval {
	font-size: 1.4rem;
	color: var(--color-text-700);
}

/* ======= */
/* Filters */
.filters__header {
	display: flex;
	justify-content: space-between;
	gap: 0.8rem;
}

.filters__option {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	padding: 0.4rem 0.8rem;
	border-radius: 0.8rem;
	font-size: 1.4rem;
	user-select: none;

	transition: 0.15s ease-in-out border, 0.15s ease-in-out color,
		0.15s ease-in-out background-color;
	background-color: transparent;
	color: var(--color-text-400);
}

.filters__option:hover {
	background-color: var(--color-text-900);
	color: var(--color-text-100);
}

.filters__option:has(.filters__checkbox:checked) {
	color: var(--color-text-100);
	background-color: var(--color-text-900);
}

.filters__option:has(.filters__checkbox:checked):hover {
	color: var(--color-text-100);
	background-color: var(--color-text-700);
}

.filters__checkbox {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.filters__options {
	max-height: calc((3rem + 0.8rem) * 2);
	overflow: hidden;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 0.8rem;
	margin-top: 1.6rem;
}

.filters__options::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2rem;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--color-bg-800));
	pointer-events: none;
	transition: all 0.3s ease;
}

.filters__options.expanded {
	max-height: none;
}

.filters__options.expanded::after {
	display: none;
}

/* =============== */
/* Error container */

.error__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.6rem;
	margin-top: 2.4rem;
}

.error__message {
	text-align: center;
}

/* ========================================== */
/* Loader, src: https://cssloaders.github.io/ */
.loading__container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-top: 1.2rem;
	margin-bottom: 4rem;
}

.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	animation-fill-mode: both;
	animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
	color: var(--color-text-400);
	font-size: 7px;
	position: relative;
	text-indent: -9999em;
	transform: translateZ(0);
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}
.loader:before {
	left: -3.5em;
	animation-delay: -0.32s;
}
.loader:after {
	left: 3.5em;
}

@keyframes bblFadInOut {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
